

<html lang = "en"> 
	<head> 
		<meta charset = "utf-8"> 
		<link rel = "stylesheets" href="/assets/stylesheets/static.css.scss">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Open+Sans:300italic,400italic,400,300,600|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>
				
	</head>

	<body>
		<div id="static">
			<!-- Navigation Bar  -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" id="whit" href="#">WHIT</a>
		        </div>
		        <div class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
		            <!-- <li class="active"><a href="#">Sign In</a></li>
		            <li id= "Weird"><a href="#Contact">Contact</a></li> -->
		         <!--    <li><a href="#contact">Contact</a></li>
		            <li><a href="#contact">Contact</a></li> -->
		        
					 <li id="search_bar">	
						<%= form_tag("/politicians", method: "get") do  %>
						<!--<%= label_tag(:query, "Enter name:")  %> -->
						<%= text_field_tag(:query, '', placeholder: "seach by representative or zipcode to get the basic facts", class: "rounded_search", maxlength: 15, size: 50) %>
						<!-- <%= submit_tag("Search") %> -->
						<%  end %>
					</li>		
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>


<!-- Carousel of images -->

			<div id="zipcode_carousel" class="carousel slide" data-ride="carousel">
	 			 <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#zipcode_carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#zipcode_carousel" data-slide-to="1"></li>
				    <li data-target="#zipcode_carousel" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				 <div class="carousel-inner">
					<div class="item active">
						<img src="assets/verge_copy.jpg" alt="Monument">
					</div>
					<div class="item">
						<img src="assets/circle_copy.jpg" alt="Washington D.C.">
					</div>
					<div class="item">
						<img src="assets/more_dc.png" alt="Washington D.C.">
					</div>
					<div class="item">
						<img src="assets/obama_congress_copy.jpg" alt="White House">
					</div>
					<div class="item">
						<img src="assets/SOTU_copy.jpg" alt="White House">
					</div>
				</div>	
				  <!-- Controls -->
				  <a class="left carousel-control" href="#zipcode_carousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#zipcode_carousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
			</div>	
		</div>	
	</body>	
</html>

