

.display_politicians {
	background-image: url('inside_house_copy.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	// background-color:rgb(0,0,0);
	height: 110vh;
	font-family:'Raleway';
	

	h1 {
		color:white;
		font-weight:lighter;
		text-align:center;
		position:relative;
		top:-450px;
	}

	ul {
		background-color:rgba(0,0,0,.8);
		width:85vw;
		height:85vh;
		margin-left:80px;
		
	}

	li {
		list-style-type: none;
		width:40%;
		padding-top:25px;
		padding-bottom:25px;
		display:inline-block;

	}

	.link {
		font-family:'Open Sans', sans-serif;
		font-weight:100;
		font-size: 1.3em;
		text-align:center;
		padding-top:50px;
		position: relative;
		top:150px;
		left:50px;
	}

	a:hover {
		text-decoration: none;
		color:#FFAC54;
	}

}



header {
	background-color: black;
	color:white;
	width:100%;
	height: 55px;

	h1 {
		font-family: 'Lato', 'Open Sans', 'Raleway', 'Sans-serif';
		padding: 5px 0 0 20px;
		text-align: left;
		font-weight:200;
	}

}

.quick_facts ul {
	background-color:#e5e5e5;
	width:100%;
	height: 60px;
	margin:0;


	li {
		list-style-type: none;
		display:inline-block;
		padding-right: 2%;
		font-family:  'Raleway', 'Open Sans', sans-serif;
		font-weight:200;
		
		
		#party_icon {
			height: 50px;
		}

		.segmentor {
			position: relative;
			top:5px;
			height: 30px;
		}

		.social_media_icons {
			
		}


	}

}

.quick_facts li:nth-child(n+1):nth-child(even):nth-child(-n+6) {
		position: relative;
		top:5px;	
}


#profile_picture {
			border-radius:100px;
			width:200px;
			height:210px;
			float:right;
			clear:none;
			display:inline-block;
}

/* GENERAL INFORMATION */

.general_information {

	p {
			font-family: 'Raleway', sans-serif;
			text-align: center;
		}
	div {
		padding-top:100px;
		display:inline-block;
		padding-right:10%;
	}


	div.donors_icon {
		padding-left:3%;

		#donors_icon {
			height:130px;
			width:130px;
		}

	}

	div.fundraising_campaigns_icon {
		

		#fundraising_campaigns_icon {
			height:135px;
			width:160px;
		}
	}

	div.ideology_icon {
		

		#ideology_icon {
			height:140px;
			width:140px;
		}
	}

	div.legislation_icon {
		padding-right:0;

		#legislation_icon {
			height:130px;
			width:150px;
		}
	}
}

/* IDEOLOGY */


table {
	font-family:'Open Sans';
	font-weight:200;

	th {
		font-family:'Lato';
		font-weight:400;
		font-size:1.2em;
		margin-right: 40px;
		margin-left: 40px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 15px;

	}

	td {
		margin-right: 40px;
		margin-left: 40px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 15px;
	}

}

#checkmark, #deny, #exclamation {
	width:20px;
	height:20px;
}

.odd {
	background-color:#FF8C45;
	font-weight:300;
	font-size:1.3em;

}

.even {
	font-weight:300;
	font-size:1.3em;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}



