


/*navigation bar*/

#static {

	.item {
		img{
		width: 100%;
		height: 100%;
		top: 10px;
		position: fixed;
		margin-bottom: 0px;
		padding-bottom: 0px;

		}


	}
	
	ul.nav.navbar-nav li a #Weird {
		display: hidden;
		padding-top: 2em;
	
	}

	

	#zipcode_carousel .carousel.slide{
		padding-top: 10px;
	}
}


.navbar-inverse .navbar-brand {
	font-size:2em;
	position:relative;
	left:-20px;


}

#whit {
		color:#1B87FA;
	}
/*image carousel for zipcode search*/

#search_bar {
	position:relative;
	top:300px;
	left:170px;
}

.rounded_search {
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	background-color:rgba(0,0,0,.8);
	border:none;
	height:40px;
	color:white;
	font-family:'Lato';
	font-size: 1.3em;
	font-weight:300;
	padding:5px;
}




