


/*navigation bar*/
#static {

	.item {
		img{
		width: 100%;
		height: 100%;
		top: 10px;
		position: fixed;
		margin-bottom: 0px;
		padding-bottom: 0px;

		}


	}
	
	ul.nav.navbar-nav li a #Weird {
		display: hidden;
		padding-top: 2em;
	
	}

	

	#zipcode_carousel .carousel.slide{
		padding-top: 10px;
	}
}
/*image carousel for zipcode search*/



