


/*navigation bar*/
#static {

	img{
		width: 500px;
		height: 440px;
		image-resolution: 300dpi;
	}

	ul.nav.navbar-nav li a #Weird {
		display: hidden;
		padding-top: 2em;
	}

	

	#zipcode_carousel .carousel.slide{
		padding-top: 10px;
	}
}
/*image carousel for zipcode search*/



