<h1>These are your representatives in Congress</h1>
<% @politicians.each do |politician| %>
	<ul>
		<li>
			
			<%= link_to politician.name, politician_path(politician.id) %>
		</li>
	</ul>
<% end %>
